

<table class="table table-striped">
  <thead>
  <tr>
    <th>Asset</th>
    <th>IP Address</th>
    <th>Rack</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render @rackitems %>
  </tbody>
</table>
<br />

