<tr>
    <td><%= link_to office.office, office_path(office) %></td>
    <td><%= office.sitecode %></td>
    <td><%= link_to 'Edit', edit_office_path(office), :class => 'btn btn-mini btn-info'  %>|<%= link_to 'Delete', office_path(office), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
  </tr>