<%= link_to raw('<i class="icon-plus icon-white"></i>'), "#newOfficeModal", :data => {:toggle=>"modal"} , :class => "btn btn-primary pull-right" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Office</th>
      <th>Site Code</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <%= render @offices %>
</tbody>
</table>
<%= render 'new' %>

