<div class="figure">

<% if person.image_file_name.nil? %>
         <figure>
            <%= image_tag "user.png", :class => "media-object" %>
           <% else %>
            <%= link_to image_tag(person.image(:small)), "#userModal#{person.id}", :data => {:toggle=>"modal"} %>
          <%end%>
        
          <figcaption>
          
          		<%= person.username %>
          	
          </figcaption>
         </figure>
</div>
 <%= render 'show', :person => person %>
