<tr>
	<td><% if person.image_file_name.nil? %>
         
            <%= image_tag "user.png", :class => "media-object" %>
           <% else %>
            <%= image_tag person.image(:small) %>
          <%end%>
	</td>
	<td><%= link_to person.username, person_path(person) %></td>
	<td><%= person.title %></td>
  </tr>