<tr>
	<td><%= link_to person.username, person_path(person) %></td>
	<td><%= person.title %></td>
    <td><%= link_to 'Edit', edit_person_path(person), :class => "btn btn-mini btn-info" %> |
    <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
  </tr>