<%= link_to raw('<i class="icon-plus icon-white"></i>'), "#newDeviceModal", :data => {:toggle=>"modal"} , :class => "btn btn-primary pull-right" %>


<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Model</th>
      <th>Actions</th>   
    </tr>
  </thead>
  <tbody>
    <%= render @devices %>  
  <tbody>
</table>
<%= render 'new' %>
<br />
