 <tr>
    <td><%= ldapsync.username %></td>
    <td><%= link_to 'Show', ldapsync %></td>
    <td><%= link_to 'Edit', edit_ldapsync_path(ldapsync) %></td>
    <td><%= link_to 'Destroy', ldapsync, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>