<h1>Listing ldapsyncs</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>User Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <thead>
  <tbody>
    <%= render @ldapsyncs %>
  </tbody>
</table>

<br />

<%= link_to 'New Ldapsync', new_ldapsync_path %>
