<tr>
  <td><%= link_to client.client, client_path(client) %></td>
  <td><%= link_to 'Edit', edit_client_path(client), :class => 'btn btn-mini btn-info'  %>|<%= link_to 'Delete', client_path(client), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
</tr>