<div id="newClientModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h2>New Client</h2>
		
	</div>
	  <div class="modal-body">
			<%= render 'form' %>
		</div>

</div>