<%= link_to raw('<i class="icon-plus icon-white"></i>'), "#newClientModal", :data => {:toggle=>"modal"} , :class => "btn btn-primary pull-right" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Client</th>
      <th>Actions</th>

    </tr>
  <thead>
  <tbody>
    <%= render @clients %>
  </tbody>
</table>
<%= render 'new' %>
<br />


