<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <strong>Office Name:</strong> <%= @client.client %>
			</p>
			<%= link_to 'Edit', edit_client_path(@client) %> |
			<%= link_to 'Back', clients_path %>
		</div>
	</div>
</div>