<div id="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Asset</th>
      <th>Serial</th>
      <th>Assigned To</th>

    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td>SF0294</td>
  		<td>394ubv948nv</td>
  		<td>Other guy</td>

  	<tr>
  	<tr>
  		<td>SF0294</td>
  		<td>394ubv948nv</td>
  		<td>Steve Brito</td>

  	<tr>
  	<tr>
  		<td>SF0294</td>
  		<td>394ubv948nv</td>
  		<td>Steve Brito</td>

  	<tr>
  	<tr>
  		<td>SF0294</td>
  		<td>394ubv948nv</td>
  		<td>Steve Brito</td>

  	<tr>
</tbody>
</table>
</div>