<%= link_to raw('<i class="icon-plus icon-white"></i>'), "#newDomainModal", :data => {:toggle=>"modal"} , class: "btn btn-primary pull-right" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dc</th>
      <th>Dn</th>
      <th>Actions</th>
    </tr>
  </thead>
  </tbody>
    <%= render @domains %>
  <tbody>
</table>
<%= render 'new' %>
<br />

