<div class="pull-right">
  <%= link_to raw('<i class="icon-plus icon-white"></i>'), "#newServerrackModal",:data => {:toggle=>"modal"}, class: "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Units</th>
      <th>Serverroom</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @serverracks %>
  <tbody>
</table>
<%= render 'new' %>
<br />

